<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Codebundle.io" %></title>

    <%= stylesheet_link_tag "styles" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://codebundle.io">
          <img src="images/logo.png" alt="Codebundle.io">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    </nav>

    <section class="main section">
      <div class="container is-widescreen">
        <%= yield %>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <p> <strong>Codebundle.io</strong> by <a href="https://dreamingecho.es">dreamingechoes</a> </p>
      </div>
    </footer>
  </body>
</html>
